nav a {
    text-decoration: none;
    color: lime;
    transition: 0.5s;
}

nav a:hover {
    color: aqua;
    background-color: black;
    font-weight: bold;
    font-style: italic;
}

li {
    text-decoration: solid;
    color: blueviolet;
}

#foot {
    background-color: black;
    padding: 10px;
    text-align: center;
    color: cyan;
  }