nav a {
    text-decoration: none;
    color: black;
    transition: 0.5s;
}

nav a:hover {
    color: cyan;
    background-color: black;
    font-weight: bold;
    font-style: italic;
}

li {
    text-decoration: solid;
    color: cyan;
}
