body {
    background-color: lightslategray;
}

nav a {
    text-decoration: none;
    color: black;
    transition: 0.5s;
}

nav a:hover {
    color: cyan;
    background-color: black;
    font-weight: bold;
    font-style: italic;
}

li {
    text-decoration: solid;
    color: cyan;
}

footer a {
    text-decoration: none;
}

.keret {
    width: 50px;
    float: left;
}

button {
    font-family: 'courier new';
    font-weight: bold;
    color: #000000 !important;
    font-size: 14px;
    text-shadow: 1px 1px 0px #262223;
    box-shadow: 3px 3px 3px;
    padding: 14px 29px;
    border-radius: 14px;
    border: 2px groove darkred;
    background: black;
    background: linear-gradient(to top, black, cyan);
    transition: .5s;
}

#tél {
    transition: 3s;
    margin-right: 50px;
}
#tavasz {
    transition: 3s;
    margin-right: 50px;
}
#nyár {
    transition: 3s;
    margin-right: 50px;
}
#ősz {
    transition: 3s;
    margin-right: 50px;
}
#tél:hover {
    scale: 1.1;
}

#tavasz:hover {
    scale: 1.1;
}

#nyár:hover {
    scale: 1.1;}

#ősz:hover {
    scale: 1.1;
}

.evszaknev {
    margin-top: auto;
}